<!DOCTYPE html>
<table id="user_info" class='table table-condensed'>
 <tr>
  <th colspan='4'><b>${n.i18n.crud_search_button_message.toUpperCase()}</b></th>
</tr>
<tr>
  <td title="${n.i18n.crud_valid_length_prefix} 30 ${n.i18n.crud_valid_length_postfix}" id="id_label">${n.i18n.user_info_id}<font color = 'red'>*</font></td>
  <td>
   <input  type="text" class="form-control"  id="id" name="id" title="${n.i18n.validateID}"><span id="id_msg"></span>
 </td>
 <td title="${n.i18n.crud_valid_length_prefix} 50 ${n.i18n.crud_valid_length_postfix}" id="password_label">${n.i18n.user_info_password}<font color = "red">&nbsp*</font></td>
 <td>
   <input  type="password" class="form-control" name="password" id="password"><span id="password_msg"></span>
 </td>
</tr>
<tr>
  <td title="${n.i18n.crud_valid_length_prefix} 50 ${n.i18n.crud_valid_length_postfix}" id="first_name_label">${n.i18n.user_info_first_name}</td>
  <td>
   <input  type="text" class="form-control" name="first_name" id="first_name"><span id="first_name_msg"></span>
 </td>
 <td title="${n.i18n.crud_valid_length_prefix} 200 ${n.i18n.crud_valid_length_postfix}" id="last_name_label">${n.i18n.user_info_last_name}</td>
 <td>
   <input  type="text" class="form-control" name="last_name" id="last_name"><span id="last_name_msg"></span>
 </td>
</tr>
<tr>
  <td title="${n.i18n.crud_valid_length_prefix} 50 ${n.i18n.crud_valid_length_postfix}" id="mobile_label">${n.i18n.user_info_mobile}</td>
  <td>
   <input  type="number" class="form-control" name="mobile" id="mobile"><span id="mobile_msg"></span>
 </td>
 <td title="${n.i18n.crud_valid_length_prefix} 50 ${n.i18n.crud_valid_length_postfix}" id="department_label">${n.i18n.user_info_department}</td>
 <td>
   <input  type="text" class="form-control" name="department" id="department"><span id="department_msg"></span>
 </td>
</tr>
<tr>
  <td title="${n.i18n.crud_valid_length_prefix} 50 ${n.i18n.crud_valid_length_postfix}" id="email_label">${n.i18n.user_info_email}<font color = "red">&nbsp*</font></td>
  <td>
   <input  type="text" class="form-control" name="email" id="email"><span id="email_msg"></span>
 </td>
 <td title="${n.i18n.crud_valid_length_prefix} 22 ${n.i18n.crud_valid_length_postfix}" id="gender_label">${n.i18n.user_info_gender}</td>
 <td>
   <select class="form-control" name="gender" id="gender">
    <option value="1">Nam</option>
    <option value="0">Nữ</option>
  </select>
  <span id="gender_msg"></span>
</td>
</tr>
<tr>
  <td title="" id="status_id_label">${n.i18n.user_info_status_id}</td>
  <td>
   <select class="form-control" name="status_id" id="status_id">
    <option value="">${n.i18n.crud_khong_chon}</option>
    #foreach ($i in $u.qry("crud_search_user_info_status_id_service","default",[],0) )
    <option value="$!i['ID']">$!i['NAME']</option>
    #end
  </select>
  <span id="status_id_msg"></span>
</td>
<td title="${n.i18n.crud_valid_length_prefix} 7 ${n.i18n.crud_valid_length_postfix}" id="created_date_label">${n.i18n.user_info_created_date}</td>
<td>
 <input  type="text" readonly class="form-control" name="created_date" id="created_date"><span id="created_date_msg"></span>
</td>
</tr>
<tr>
  <td title="${n.i18n.crud_valid_length_prefix} 7 ${n.i18n.crud_valid_length_postfix}" id="modified_date_label">${n.i18n.user_info_modified_date}</td>
  <td>
   <input  type="text" readonly class="form-control" name="modified_date" id="modified_date"><span id="modified_date_msg"></span>
 </td>
 <td></td><td></td>
</tr>
<tr id='control'>
  <td colspan='4' align='center'><font id="result"></font>
   <button class="btn btn-primary" name="doNew" id="doNew"><i class="fa fa-plus-square"></i> ${n.i18n.crud_new_button_message}</button>&nbsp;
   <button class="btn btn-primary" name="doClear" id="doClear"><i class="fa fa-eraser"></i> ${n.i18n.crud_clear_form_button_message}</button>&nbsp;
   <button class="btn btn-primary" name="goSearch" id="goSearch"><i class="fa fa-search"></i> ${n.i18n.crud_search_button_message} &gt;</button>&nbsp;
 </td>
</tr>
</table>
<script type="text/javascript">
 $(function() {
  $('#doNew').click(function() {
        //$('#result').html("<font color = 'red'>${n.i18n.obligatory}</font>"); 
        if ($('#id').val() == "") {
          $('#id_msg').html("<font color ='red'>${n.i18n.crud_required_message} ${n.i18n.user_info_id}</font>");
          $('#id_msg').attr('style', 'display:block');
          return false;
        }
        if ($('#email').val() == "") {
          $('#email_msg').html("<font color ='red'>${n.i18n.crud_required_message} ${n.i18n.user_info_email}</font>");
          $('#email_msg').attr('style', 'display:block');
          return false;
        }
        if ($('#password').val() == "") {
          $('#password_msg').html("<font color ='red'>${n.i18n.crud_required_message} ${n.i18n.user_info_password}</font>");
          $('#password_msg').attr('style', 'display:block');
          return false;
        }
        if(!checkPass()) return;
        if(!checkEmail()) return;
        if(!checkID()) return;
        
        if (!confirm('${n.i18n.crud_confirm_message}')) {
          return;
        }
        var exec = '&id=' + $('#id').val() + '&password=' + $('#password').val() + '&first_name=' + $('#first_name').val() + '&last_name=' + $('#last_name').val() + '&mobile=' + $('#mobile').val() + '&department=' + $('#department').val() + '&email=' + $('#email').val() + '&gender=' + $('#gender').val() + '&status_id=' + $('#status_id').val() + '&created_date=' + $('#created_date').val() + '&modified_date=' + $("#modified_date").val() + '&userid=$!{request.UserPrincipal.name}&userip=$!{request.RemoteAddr}';
        $('#result').html('${n.i18n.crud_process_message}');
        $.ajax({
          url: 'crud_exec.jsp?crud_type=user_info/new_exec.html' + exec,
          success: function(data) {
            if (data == "1.0") {
              $('#result').html("${n.i18n.crud_new_message}");
            } else {
              $('#result').html(data);
            }
          }
        });
      });
  $('#doClear').click(function() {
    $("input").each(function() {
      $(this).val('')
    });
    $("textarea").each(function() {
      $(this).val('')
    });
    $("select").each(function() {
      $(this).attr('selectedIndex', 0);
    });
    $("table#user_info").find("span").html('');
    setDate();
  });
  $('#goSearch').click(function() {
    window.location.href = 'crud.jsp?crud_type=user_info/index.html';
  });

  $('#id').focus(function() {
    $('#id_msg').html('');
  });
  $('#id').blur(function() {
    if ($('#id').val() != '') {
      $('#id_msg').html('');
      $('#id_msg').attr('style', 'display:none');

    } else {
      $('#id_msg').html('<font color = "red">${n.i18n.crud_required_message} ${n.i18n.user_info_id}</font>');
      $('#id_msg').attr('style', 'display:block');
      return false;
    }
    checkID();
  });

  $('#email').focus(function() {
    $('#email_msg').html('');
  });
  $('#email').blur(function() {
    if ($('#email').val() != '') {
      $('#email_msg').html('');
      $('#email_msg').attr('style', 'display:none');
    } else {
      $('#email_msg').html('<font color = "red">${n.i18n.crud_required_message} ${n.i18n.user_info_email}</font>');
      $('#email_msg').attr('style', 'display:block');
      return false;
    }
    checkEmail();
  });

  $('#gender').focus(function() {
    $('#gender_msg').html('');
  });
  $('#gender').blur(function() {
    if ($('#gender').val() != '') {
      $('#gender_msg').html('');
      $('#gender_msg').attr('style', 'display:none');
    } else {
            //$('#gender_msg').html('${n.i18n.user_info_gender} ${n.i18n.crud_is_number_message}');
            //#$('#gender_msg').attr('style','display:block');
            return false;
          }
        });

  $('#password').focus(function() {
    $('#password_msg').html('');
  });
  $('#password').blur(function() {
    if ($('#password').val() != '') {
      $('#password_msg').html('');
      $('#password_msg').attr('style', 'display:none');
    } else {
      $('#password_msg').html('<font color = "red">${n.i18n.crud_required_message} ${n.i18n.user_info_password}</font>');
      $('#password_msg').attr('style', 'display:block');
      return false;
    }
    checkPass();
  });

});
$(document).ready(function() {
	setDate();
    /*
	$('#created_date').datepicker({
        format: "dd/mm/yyyy"
    });
	
	$('#created_date').val(value);
    $('#modified_date').datepicker({
        format: "dd/mm/yyyy"
    });
    */
    
  });

function validateEmail(email){
	var par =/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/;
	return par.test(email);
}
function validatePass(pass) {
  var par = "^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&+=])(?=\S+$).{8,}$";
  return par.test(pass);
}
function validateID(id ){
	var par=/^[a-z]+/;
	return par.test(id);
}

function checkPass() {
  if ($('#password').val().length < 8) {
    $('#password_msg').html("<font color ='red'>${n.i18n.validatePass}</font>");
    $('#password_msg').attr('style', 'display:block');
    return false;
  }
  return true;
}
function checkEmail(){
	if(!validateEmail($('#email').val())){
		$('#email_msg').html('<font color = "red">${n.i18n.validateEmail}</font>');
		$('#email_msg').attr('style', 'display:block');
		return false;
	}
	return true;
}
function setDate(){
	var today = new Date();
	var value = (today.getDate() + '/' + (today.getMonth() + 1)  + '/' +  today.getFullYear())
	$('#created_date').val(value);
	$('#modified_date').val(value);
}
function checkID(){
	if(!validateID($('#id').val())){
		$('#id_msg').html('<font color = "red">${n.i18n.validateID}</font>');
		$('#id_msg').attr('style', 'display:block');
		return false;
	}
	return true;
}

</script>