<table width="100%" class='table table-condensed table-striped table-bordered'>
	<tr>
		<th>&nbsp;</th>
		<th align=center>${n.i18n.role_id}</th>
		<th align=center>${n.i18n.role_role_name}</th>
		<th align=center>${n.i18n.role_description}</th>
	</tr>
	#set ($list = $u.ref("crud_search_role_service","default",["$!{id}","$!{role_name}","$!{description}","$!{record_per_page}","$!{page_index}","$!{request.UserPrincipal.name}","$!{request.RemoteAddr}"],7) )
	#foreach ($i in $list)
	<tr>
		<td width='22px' align=center><input type="radio" id="rad$i['ID']" name="role_rad"></td>
		<td align=left name='id'>$!i["ID"]</td>
		<td align=left name='role_name'>$!i["ROLE_NAME"]</td>
		<td align=left name='description'>$!i["DESCRIPTION"]</td>
	</tr>
	#end
</table>
<script>
	$('#ajax_role :radio').change(function(){	
		$('#ajax_role :radio').each(function(){$(this).parent().css("background","#fff");});$(this).parent().css('background-color','#dfdfdf');
	});
</script>
