<shiro:user>
<table id="role" class='table table-condensed'>
	<tr><th colspan='4'><b>${n.i18n.crud_search_button_message.toUpperCase()}</b></th></tr>	<tr>
	<td title="${n.i18n.crud_valid_length_prefix} 50 ${n.i18n.crud_valid_length_postfix}" id="id_label">${n.i18n.role_id}</td>
	<td>
		<input  type="text" class="form-control" name="id" id="id"><span id="id_msg"></span></td>
		<td title="${n.i18n.crud_valid_length_prefix} 200 ${n.i18n.crud_valid_length_postfix}" id="role_name_label">${n.i18n.role_role_name}</td>
		<td>
			<input  type="text" class="form-control" name="role_name" id="role_name"><span id="role_name_msg"></span></td>
		</tr>
		<tr>
			<td title="${n.i18n.crud_valid_length_prefix} 200 ${n.i18n.crud_valid_length_postfix}" id="description_label">${n.i18n.role_description}</td>
			<td>
				<input  type="text" class="form-control" name="description" id="description"><span id="description_msg"></span></td>
				<td></td><td></td>
				<tr id='control'><td colspan='4' align='center'><font id="result"></font>
					<button name="doSearch" id="doSearch" class="btn btn-primary">
						<i class="fa fa-search"></i> ${n.i18n.crud_search_button_message}</button>&nbsp;			
					<button class="btn btn-primary" name="goNew" id="goNew">
						<i class="fa fa-plus-square"></i> ${n.i18n.crud_new_button_message} &gt;</button>&nbsp;
					<button class="btn btn-primary" name="goDelete" id="goDelete">
						<i class="fa fa-trash"></i> ${n.i18n.crud_delete_button_message} &gt;</button>&nbsp;
					<button class="btn btn-primary" name="goEdit" id="goEdit">
						<i class="fa fa-edit"></i> ${n.i18n.crud_edit_button_message} &gt;</button>&nbsp;
				</td></tr>
			</table>
			<section class="content">
				<div class="box box-primary">  
					<div class="box-body no-padding" id='data-list' style="overflow:auto;margin:auto"></div>
				</div>
			</section>
			<script type="text/javascript">
				$(function(){
					$('#doSearch').click(function(){
						$('#result').html('${n.i18n.crud_process_message}');
						$.ajax({
							url: 'crud_exec.jsp?crud_type=role/ajax_index.html&record_per_page=500&page_index=1'
								+'&id='+$('#id').val()+'&role_name='+$('#role_name').val()+'&description='
								+$('#description').val(),
							success: function(data){ 
								$('#data-list').html(data);
								$('#result').html('');
							}
						});
					});
					$('#doSearch').click();
					$('#goNew').click(function(){
						window.location.href='crud.jsp?crud_type=role/new.html';
					});
					$('#goEdit').click(function(){
						if ($(':radio:checked').parent().parent().children("[name='id']").length>=1){
							window.location.href='crud.jsp?crud_type=role/edit.html&id='
							+$(':radio:checked').parent().parent().children("[name='id']").text();
						}else{
							alert('${n.i18n.crud_alert_select_one}');
						}
					});
					$('#goDelete').click(function(){
						if ($(':radio:checked').parent().parent().children("[name='id']").length>=1){
							window.location.href='crud.jsp?crud_type=role/delete.html&id='
							+$(':radio:checked').parent().parent().children("[name='id']").text();
						}else{
							alert('${n.i18n.crud_alert_select_one}');
						}
					});
				});
				$(document).ready(function(){
				});
			</script>
</shiro:user>