#set ($v = $u.ref("crud_search_cost_voice_exp_service","default",["$!{id}","$!{name}","$!{from_minute}","$!{to_minute}","$!{price}","$!{group_id}","$!{free}","$!{company_id}","$!{from_date}","$!{to_date}","1","1","$!{request.UserPrincipal.name}","$!{request.RemoteAddr}"],14)[0] )
<table id="cost_voice_exp" class='table table-condensed'>
	<tr><th colspan='4'><b>${n.i18n.crud_delete_button_message.toUpperCase()}</b></th></tr>	<tr>
	<td title="${n.i18n.crud_valid_length_prefix} 0 ${n.i18n.crud_valid_length_postfix}" id="id_label">${n.i18n.cost_voice_exp_id}</td>
	<td><input readonly type="text" class="form-control" value='$!v["ID"]' name="id" id="id"><span id="id_msg"></span></td>
	<td title="${n.i18n.crud_valid_length_prefix} 300 ${n.i18n.crud_valid_length_postfix}" id="name_label">${n.i18n.cost_voice_exp_name}</td>
	<td><input readonly type="text" class="form-control" value='$!v["NAME"]' name="name" id="name"><span id="name_msg"></span></td>
</tr>
<tr>
	<td title="${n.i18n.crud_valid_length_prefix} 0 ${n.i18n.crud_valid_length_postfix}" id="from_minute_label">${n.i18n.cost_voice_exp_from_minute}</td>
	<td><input readonly type="text" class="form-control" value='$!v["FROM_MINUTE"]' name="from_minute" id="from_minute"><span id="from_minute_msg"></span></td>
	<td title="${n.i18n.crud_valid_length_prefix} 0 ${n.i18n.crud_valid_length_postfix}" id="to_minute_label">${n.i18n.cost_voice_exp_to_minute}</td>
	<td><input readonly type="text" class="form-control" value='$!v["TO_MINUTE"]' name="to_minute" id="to_minute"><span id="to_minute_msg"></span></td>
</tr>
<tr>
	<td title="${n.i18n.crud_valid_length_prefix} 300 ${n.i18n.crud_valid_length_postfix}" id="company_id_label">${n.i18n.cost_voice_exp_company_id}</td>
	<td><input  type="text" readonly class="form-control" name="company_id" id="company_id" value="$!v['COMPANY_ID']"><span id="company_id_msg"></span></td>
	<td title="${n.i18n.crud_valid_length_prefix} 0 ${n.i18n.crud_valid_length_postfix}" id="price_label">${n.i18n.cost_voice_exp_price}</td>
	<td><input readonly type="text" class="form-control" value='$!v["PRICE"]' name="price" id="price"><span id="price_msg"></span></td>
	
</tr>
<tr>
	<td title="${n.i18n.crud_valid_length_prefix} 0 ${n.i18n.crud_valid_length_postfix}" id="from_date_label">${n.i18n.cost_voice_exp_from_date}</td>
	<td><input readonly type="text" class="form-control" value='$!v["FROM_DATE"]' name="from_date" id="from_date"><span id="from_date_msg"></span></td>
	<td title="${n.i18n.crud_valid_length_prefix} 0 ${n.i18n.crud_valid_length_postfix}" id="to_date_label">${n.i18n.cost_voice_exp_to_date}</td>
	<td><input readonly type="text" class="form-control" value='$!v["TO_DATE"]' name="to_date" id="to_date"><span id="to_date_msg"></span></td>
</tr>
<tr>
<td title="${n.i18n.crud_valid_length_prefix} 300 ${n.i18n.crud_valid_length_postfix}" id="note_label">${n.i18n.cost_voice_exp_note}</td>
	<td><input readonly type="text" class="form-control" value='$!v["NOTE"]' name="note" id="note"><span id="note_msg"></span></td>
	<td></td><td></td>
</tr>
<tr id='control'><td colspan='4' align='center'><font id="result"></font>
	<button class="btn btn-primary" name="doDel" id="doDel"><i class="fa fa-trash"></i> ${n.i18n.crud_delete_button_message}</button>&nbsp;
	<button class="btn btn-primary" name="goSearch" id="goSearch"><i class="fa fa-search"></i> ${n.i18n.crud_search_button_message} &gt;</button>&nbsp;
</td></tr>
</table>
<script type="text/javascript">
	$(function(){
		$('#doDel').click(function(){
			if( !confirm('${n.i18n.crud_confirm_message}') ){return;}
			$('#result').html('${n.i18n.crud_process_message}');
			$.ajax({
				url: 'crud_exec.jsp?crud_type=cost_voice_exp/delete_exec.html&id=${id}',
				success: function(data){ 
					if (data=="1.0"){
						$('#result').html("${n.i18n.crud_delete_message}"); 
					}else{
						$('#result').html(data);
					}
				}
			});
		});
		$('#goSearch').click(function(){
			window.location.href='crud.jsp?crud_type=cost_voice_exp/index.html';
		});
		$('#id').blur(function(){
			if ($('#id').val()*1==$('#id').val()){
				$('#id_msg').html('');
				$('#id_msg').attr('style','display:none');
			}else{
				$('#id_msg').html('${n.i18n.cost_voice_exp_id} ${n.i18n.crud_is_number_message}');
				$('#id_msg').attr('style','display:block');
				return false;
			}
		});
		$('#from_minute').blur(function(){
			if ($('#from_minute').val()*1==$('#from_minute').val()){
				$('#from_minute_msg').html('');
				$('#from_minute_msg').attr('style','display:none');
			}else{
				$('#from_minute_msg').html('${n.i18n.cost_voice_exp_from_minute} ${n.i18n.crud_is_number_message}');
				$('#from_minute_msg').attr('style','display:block');
				return false;
			}
		});
		$('#to_minute').blur(function(){
			if ($('#to_minute').val()*1==$('#to_minute').val()){
				$('#to_minute_msg').html('');
				$('#to_minute_msg').attr('style','display:none');
			}else{
				$('#to_minute_msg').html('${n.i18n.cost_voice_exp_to_minute} ${n.i18n.crud_is_number_message}');
				$('#to_minute_msg').attr('style','display:block');
				return false;
			}
		});
		$('#price').blur(function(){
			if ($('#price').val()*1==$('#price').val()){
				$('#price_msg').html('');
				$('#price_msg').attr('style','display:none');
			}else{
				$('#price_msg').html('${n.i18n.cost_voice_exp_price} ${n.i18n.crud_is_number_message}');
				$('#price_msg').attr('style','display:block');
				return false;
			}
		});
		$('#group_id').blur(function(){
			if ($('#group_id').val()*1==$('#group_id').val()){
				$('#group_id_msg').html('');
				$('#group_id_msg').attr('style','display:none');
			}else{
				$('#group_id_msg').html('${n.i18n.cost_voice_exp_group_id} ${n.i18n.crud_is_number_message}');
				$('#group_id_msg').attr('style','display:block');
				return false;
			}
		});
		$('#free').blur(function(){
			if ($('#free').val()*1==$('#free').val()){
				$('#free_msg').html('');
				$('#free_msg').attr('style','display:none');
			}else{
				$('#free_msg').html('${n.i18n.cost_voice_exp_free} ${n.i18n.crud_is_number_message}');
				$('#free_msg').attr('style','display:block');
				return false;
			}
		});
		$('#from_date').blur(function(){
			if ($('#from_date').val()=='' || patternValidate($('#from_date'),'dd/mm/yyyy')){
				$('#from_date_msg').html('');
				$('#from_date_msg').attr('style','display:none');
			}else{
				$('#from_date_msg').html('${n.i18n.cost_voice_exp_from_date} dạng dd/mm/yyyy');
				$('#from_date_msg').attr('style','display:block');
				return false;
			}
		});
		$('#to_date').blur(function(){
			if ($('#to_date').val()=='' || patternValidate($('#to_date'),'dd/mm/yyyy')){
				$('#to_date_msg').html('');
				$('#to_date_msg').attr('style','display:none');
			}else{
				$('#to_date_msg').html('${n.i18n.cost_voice_exp_to_date} dạng dd/mm/yyyy');
				$('#to_date_msg').attr('style','display:block');
				return false;
			}
		});
	});
	$(document).ready(function(){
		$('#from_date').datepicker({format:"yyyy-mm-dd"});
		$('#to_date').datepicker({format:"yyyy-mm-dd"});
	});
</script>