<table id="cost_sub_mvnp" class='table table-condensed'>
	<tr><th colspan='4'><b>${n.i18n.crud_new_button_message.toUpperCase()}</b></th></tr>	
	<tr>
	<td hidden title="${n.i18n.crud_valid_length_prefix} 0 ${n.i18n.crud_valid_length_postfix}" id="id_label">${n.i18n.cost_sub_mvnp_id}</td>
	<td hidden><input type="number" min="0" class="form-control" name="id" id="id"><span id="id_msg"></span></td>
	<td title="" id="name_label">${n.i18n.cost_sub_mvnp_name}</td>
	<td><input  type="text" class="form-control" name="name" id="name"><span id="name_msg"></span></td>
</tr>
<tr>
	<td title="${n.i18n.crud_valid_length_prefix} 0 ${n.i18n.crud_valid_length_postfix}" id="from_amount_label">${n.i18n.cost_sub_mvnp_from_amount}</td>
	<td><input type="number" min="0" class="form-control" name="from_amount" id="from_amount"><span id="from_amount_msg"></span></td>
	<td title="${n.i18n.crud_valid_length_prefix} 0 ${n.i18n.crud_valid_length_postfix}" id="to_amount_label">${n.i18n.cost_sub_mvnp_to_amount}</td>
	<td><input type="number" min="0" class="form-control" name="to_amount" id="to_amount"><span id="to_amount_msg"></span></td>
</tr>
<tr>
	<td title="${n.i18n.crud_valid_length_prefix} 0 ${n.i18n.crud_valid_length_postfix}" id="price_label">${n.i18n.cost_sub_mvnp_price}</td>
	<td><input type="number" min="0" class="form-control" name="price" id="price"><span id="price_msg"></span></td>
	<td title="" id="note_label">${n.i18n.cost_sub_mvnp_note}</td>
	<td><input  type="text" class="form-control" name="note" id="note"><span id="note_msg"></span></td>
</tr>
<tr>
	<td title="" id="from_date_label">${n.i18n.cost_sub_mvnp_from_date}</td>
	<td><input  type="text" class="form-control" name="from_date" id="from_date"><span id="from_date_msg"></span></td>
	<td title="" id="to_date_label">${n.i18n.cost_sub_mvnp_to_date}</td>
	<td><input  type="text" class="form-control" name="to_date" id="to_date"><span id="to_date_msg"></span></td>
</tr>
<tr id='control'><td colspan='4' align='center'><font id="result"></font>
	<button class="btn btn-primary" name="doNew" id="doNew"><i class="fa fa-plus-square"></i> ${n.i18n.crud_new_button_message}</button>&nbsp;
	<button class="btn btn-primary" name="doClear" id="doClear"><i class="fa fa-eraser"></i> ${n.i18n.crud_clear_form_button_message}</button>&nbsp;
	<button class="btn btn-primary" name="goSearch" id="goSearch"><i class="fa fa-search"></i> ${n.i18n.crud_search_button_message} &gt;</button>&nbsp;
</td>
</tr></table>
<script type="text/javascript">
	$(function(){
		$('#doNew').click(function(){
			if( !confirm('${n.i18n.crud_confirm_message}') ){return;}
			var exec='&id='+$('#id').val()+'&name='+$('#name').val()+'&from_amount='+$('#from_amount').val()+'&to_amount='+$('#to_amount').val()+'&price='+$('#price').val()+'&note='+$('#note').val()+'&from_date='+$('#from_date').val()+'&to_date='+$('#to_date').val()+'&userid=$!{request.UserPrincipal.name}&userip=$!{request.RemoteAddr}';
			$('#result').html('${n.i18n.crud_process_message}');
			$.ajax({
				url: 'crud_exec.jsp?crud_type=cost_sub_mvnp/new_exec.html'+exec,
				success: function(data){ 
					if (data=="1.0"){
						$('#result').html("${n.i18n.crud_new_message}"); 
					}else{
						$('#result').html(data);
					}
				}
			});
		});
		$('#doClear').click(function(){
			$("input:text").each(function(){$(this).val('')});
			$("textarea").each(function(){$(this).val('')});
			$("select").each(function(){$(this).attr('selectedIndex', 0);});
		});
		$('#goSearch').click(function(){
			window.location.href='crud.jsp?crud_type=cost_sub_mvnp/index.html';
		});
		$('#from_date').blur(function(){
			if ($('#from_date').val()=='' || patternValidate($('#from_date'),'dd/mm/yyyy')){
				$('#from_date_msg').html('');
				$('#from_date_msg').attr('style','display:none');
			}else{
				$('#from_date_msg').html('${n.i18n.cost_sub_mvnp_from_date} dạng dd/mm/yyyy');
				$('#from_date_msg').attr('style','display:block');
				return false;
			}
		});
		$('#to_date').blur(function(){
			if ($('#to_date').val()=='' || patternValidate($('#to_date'),'dd/mm/yyyy')){
				$('#to_date_msg').html('');
				$('#to_date_msg').attr('style','display:none');
			}else{
				$('#to_date_msg').html('${n.i18n.cost_sub_mvnp_to_date} dạng dd/mm/yyyy');
				$('#to_date_msg').attr('style','display:block');
				return false;
			}
		});
	});
	$(document).ready(function(){
		$('#from_date').datepicker({format:"yyyy-mm-dd"});
		$('#to_date').datepicker({format:"yyyy-mm-dd"});
	});
</script>