<shiro:hasRole>
<head>
   <link href="assets/bootstrap/plugins/iCheck/all.css" rel="stylesheet" type="text/css" />
   <script src="assets/bootstrap/plugins/iCheck/icheck.min.js" type="text/javascript"></script>
   <script src="assets/bootstrap/plugins/autocomplete/jquery.autocomplete.min.js" type="text/javascript"></script>
   <link href="assets/bootstrap/plugins/autocomplete/styles.css" rel="stylesheet" type="text/css" />
</head>
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
<table id="user_info" class='table table-condensed'>
   <tr>
      <th colspan='4'><b>${n.i18n.crud_search_button_message.toUpperCase()}</b></th>
   </tr>
   <tr>
      <td title="${n.i18n.crud_valid_length_prefix} 30 ${n.i18n.crud_valid_length_postfix}" id="id_label">${n.i18n.user_info_id}</td>
      <td>
         <input  type="text" class="form-control" name="id" id="id"><span id="id_msg"></span>
      </td>
	  <td  title="" id="status_id_label">${n.i18n.user_info_status_id}</td>
      <td>
         <select class="form-control" name="status_id" id="status_id">
            <option value="">${n.i18n.crud_khong_chon}</option>
            #foreach ($i in $u.qry("crud_search_user_info_status_id_service","default",[],0) )
            <option value="$!i['ID']">$!i['NAME']</option>
            #end
         </select>
         <span id="status_id_msg"></span>
      </td>
      <td hidden title="${n.i18n.crud_valid_length_prefix} 50 ${n.i18n.crud_valid_length_postfix}" id="password_label">${n.i18n.user_info_password}</td>
      <td hidden>
         <input  type="password" class="form-control" name="password" id="password"><span id="password_msg"></span>
      </td>
	  
   </tr>
   <tr>
      <td title="${n.i18n.crud_valid_length_prefix} 50 ${n.i18n.crud_valid_length_postfix}" id="first_name_label">${n.i18n.user_info_first_name}</td>
      <td>
         <input  type="text" class="form-control" name="first_name" id="first_name"><span id="first_name_msg"></span>
      </td>
      <td title="${n.i18n.crud_valid_length_prefix} 200 ${n.i18n.crud_valid_length_postfix}" id="last_name_label">${n.i18n.user_info_last_name}</td>
      <td>
         <input  type="text" class="form-control" name="last_name" id="last_name"><span id="last_name_msg"></span>
      </td>
   </tr>
   <tr>
      <td title="${n.i18n.crud_valid_length_prefix} 50 ${n.i18n.crud_valid_length_postfix}" id="mobile_label">${n.i18n.user_info_mobile}</td>
      <td>
         <input  type="number" class="form-control" name="mobile" id="mobile"><span id="mobile_msg"></span>
      </td>
	 <td  title="${n.i18n.crud_valid_length_prefix} 50 ${n.i18n.crud_valid_length_postfix}" id="email_label">${n.i18n.user_info_email}</td>
      <td >
         <input  type="text" class="form-control" name="email" id="email"><span id="email_msg"></span>
      </td>
      <td hidden title="${n.i18n.crud_valid_length_prefix} 50 ${n.i18n.crud_valid_length_postfix}" id="department_label">${n.i18n.user_info_department}</td>
      <td hidden>
         <input  type="text" class="form-control" name="department" id="department"><span id="department_msg"></span>
      </td>
	 
   </tr>
   <tr>
      <td hidden title="${n.i18n.crud_valid_length_prefix} 50 ${n.i18n.crud_valid_length_postfix}" id="email_label">${n.i18n.user_info_email}</td>
      <td hidden>
         <input  type="text" class="form-control" name="email" id="email"><span id="email_msg"></span>
      </td>
	 
      <td hidden title="${n.i18n.crud_valid_length_prefix} 22 ${n.i18n.crud_valid_length_postfix}" id="gender_label">${n.i18n.user_info_gender}</td>
      <td hidden>
         <select class="form-control" name="gender" id="gender">
            <option value="">${n.i18n.crud_khong_chon}</option>
            <option value="1">Nam</option>
            <option value="0">Nữ</option>
         </select>
         <span id="gender_msg"></span>
      </td>
	  
   </tr>
   <tr>
      <td hidden title="" id="status_id_label">${n.i18n.user_info_status_id}</td>
      <td hidden >
         <select class="form-control" name="status_id" id="status_id">
            <option value="">${n.i18n.crud_khong_chon}</option>
            #foreach ($i in $u.qry("crud_search_user_info_status_id_service","default",[],0) )
            <option value="$!i['ID']">$!i['NAME']</option>
            #end
         </select>
         <span id="status_id_msg"></span>
      </td>
	
      <td hidden title="${n.i18n.crud_valid_length_prefix} 7 ${n.i18n.crud_valid_length_postfix}" id="created_date_label">${n.i18n.user_info_created_date}</td>
      <td hidden>
         <input  type="text" hidden class="form-control" name="created_date" id="created_date"><span id="created_date_msg"></span>
      </td>
	
   </tr>
   <tr hidden>
      <td title="${n.i18n.crud_valid_length_prefix} 7 ${n.i18n.crud_valid_length_postfix}" id="modified_date_label">${n.i18n.user_info_modified_date}</td>
      <td>
         <input  type="text" hidden class="form-control" name="modified_date" id="modified_date"><span id="modified_date_msg"></span>
      </td>
	  <td></td><td></td>
   </tr>
   <tr id='control'>
      <td colspan='4' align='center'><font id="result"></font>
         <button name="doSearch" id="doSearch" class="btn btn-primary"><i class="fa fa-search"></i> ${n.i18n.crud_search_button_message}</button>&nbsp;<button class="btn btn-primary" name="goNew" id="goNew"><i class="fa fa-plus-square"></i> ${n.i18n.crud_new_button_message} &gt;</button>&nbsp;<button class="btn btn-primary" name="goDelete" id="goDelete"><i class="fa fa-trash"></i> ${n.i18n.crud_delete_button_message} &gt;</button>&nbsp;<button class="btn btn-primary" name="goEdit" id="goEdit"><i class="fa fa-edit"></i> ${n.i18n.crud_edit_button_message} &gt;</button>&nbsp;
      </td>
	  
   </tr>
</table>
<section class="content">
   <div class="box box-primary">
      <div class="box-body no-padding" id='data-list' style="overflow:auto;margin:auto"></div>
      <div id="div_page_section2" class=""></div>
   </div>
</section>
<script type="text/javascript">
   var record_per_page=20, page=1, nor=0;
   var objPage=new pageTemplates('','div_page_section2','pClick','onGetData');
   objPage.setRecPerPage(record_per_page);
   objPage.setTypeTemplate('BOOTSTRAP'); 
   $(function(){
      
   	$('#doSearch').click(function(){
   		$('#result').html('${n.i18n.crud_process_message}');
   		$.ajax({
   			url: 'crud_exec.jsp?crud_type=user_info/ajax_get_nop_nor.html'+getParams(page,record_per_page),
   			success: function(data){ 
   				eval('data='+data);
   				nor = data.NOR*1;
   				$('#data-list').html(data);
   				$('#result').html('');
   				onStartSearch(data.NOR);
   			}
   		});
   	});
   	$('#doSearch').click();
   	$('#goNew').click(function(){
   		window.location.href='crud.jsp?crud_type=user_info/new.html';
   	});
   	$('#goEdit').click(function(){
   		if ($(':radio:checked').parent().parent().children("[name='id']").length>=1){
   			window.location.href='crud.jsp?crud_type=user_info/edit.html&id='+$(':radio:checked').parent().parent().children("[name='id']").text();
   		}else{
   			alert('${n.i18n.crud_alert_select_one}');
   		}
   	});
   	$('#goDelete').click(function(){
   		if ($(':radio:checked').parent().parent().children("[name='id']").length>=1){
   			window.location.href='crud.jsp?crud_type=user_info/delete.html&id='+$(':radio:checked').parent().parent().children("[name='id']").text();
   		}else{
   			alert('${n.i18n.crud_alert_select_one}');
   		}
   	});
      
   });
   function pClick(ps_page_id,ps_rec_per_page) {
   	objPage.setCurrentPage(ps_page_id);
   	objPage.setRecPerPage(ps_rec_per_page);
   	objPage.returnDataCount(objPage.getTotalRec());
   }
   //Ham nay tu dong duoc goi sau khi click vao cac so...:
   function onGetData(page, size){
   	$.ajax({
   		url: 'crud_exec.jsp?crud_type=user_info/ajax_index.html'+getParams(page,record_per_page),
   		timeout: 1000,
   		success: function(data){ 
   			if(data!=''){
   				$('#data-list').html(data);
   				$('#result').html('');
   			}
   			if(nor==0 && data!=''){
   				$('#result').html('${n.i18n.no_data}');
   			}
   		}
   	});
   }
   //Ham tra ve chuoi parameters, truyen vao ajax de lay nop, nor va du lieu hien thi
   function getParams(page,record_per_page){
   	var exec='&record_per_page='+record_per_page+'&page_index='+page+'&id='+$('#id').val()+'&password='+$('#password').val()+'&first_name='+$('#first_name').val()+'&last_name='+$('#last_name').val()+'&mobile='+$('#mobile').val()+'&department='+$('#department').val()+'&email='+$('#email').val()+'&gender='+$('#gender').val()+'&status_id='+$('#status_id').val()+'&created_date='+$('#created_date').val()+'&modified_date='+$('#modified_date').val();
   	return exec;
   }
   function onStartSearch(total){
   	objPage.setCurrentPage(1);
   	objPage.returnDataCount(total);
   }
   $(document).ready(function(){
   	$('#created_date').datepicker({format:"dd/mm/yyyy"});
   	$('#modified_date').datepicker({format:"dd/mm/yyyy"});
   });
   
   function validateEmail(email) {
    var pattern = /^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/; 
    return pattern.test(email);
 }
</script>
</shiro:hasRole>