<table id="promo_info" class='table table-condensed'>
   <tr>
      <th colspan='4'><b>${n.i18n.crud_search_button_message.toUpperCase()}</b></th>
   </tr>
   <tr>
      <td title="${n.i18n.crud_valid_length_prefix} 0 ${n.i18n.crud_valid_length_postfix}" id="promo_id_label">${n.i18n.promo_info_promo_id}</td>
      <td>
         <input  type="number" class="form-control" name="promo_id" id="promo_id"><span id="promo_id_msg"></span>
      </td>
      <td title="${n.i18n.crud_valid_length_prefix} 400 ${n.i18n.crud_valid_length_postfix}" id="ten_htkm_label">${n.i18n.promo_info_ten_htkm}</td>
      <td>
         <input  type="text" class="form-control" name="ten_htkm" id="ten_htkm"><span id="ten_htkm_msg"></span>
      </td>
      
   </tr>
   <tr>
    <td title="${n.i18n.crud_valid_length_prefix} 20 ${n.i18n.crud_valid_length_postfix}" id="period_label">${n.i18n.promo_info_period}</td>
    <td>
      <input class="form-control" name="period" id="period" placeholder="${n.i18n.format_period}"></input>
      <span id="period_msg"></span>
   </td>
   <td title="${n.i18n.crud_valid_length_prefix} 20 ${n.i18n.crud_valid_length_postfix}" id="kmht_id_label">${n.i18n.promo_info_kmht_id}</td>
   <td>
    <select class="form-control" name="kmht_id" id="kmht_id">
      <option value="">${n.i18n.crud_khong_chon}</option>
      <option value="voice">${n.i18n.option_cost_voice}</option>
      <option value="sms" hidden>Cước SMS</option>
      <option value="mms" hidden>Cước MMS</option>
      <option value="data" >${n.i18n.option_cost_mobile_data}</option>
	  <option value="all_synthetic" hidden >${n.i18n.all_synthetic}</option>
   </select>
   <span id="kmht_id_msg"></span>
</td>
</tr>
<tr>
   <td title="${n.i18n.crud_valid_length_prefix} 0 ${n.i18n.crud_valid_length_postfix}" id="loaiht_id_label">${n.i18n.promo_info_loai_tb}</td>
   <td>
    <select class="form-control" name="loai_tb" id="loai_tb">
      <option value="">${n.i18n.crud_khong_chon}</option>
      <option value="basicprice">${n.i18n.basicprice}</option>
      <option value="bpx" >${n.i18n.bpx}</option>
      <option value="conference" >${n.i18n.conference}</option>
	  <option value="all_synthetic" hidden >${n.i18n.all_synthetic}</option>
   </select>
   <span id="loai_tb_msg"></span>
</td>
<td></td><td></td>
</tr>

<tr hidden>
   <td title="${n.i18n.crud_valid_length_prefix} 0 ${n.i18n.crud_valid_length_postfix}" id="started_date_label">${n.i18n.promo_info_started_date}</td>
   <td>
      <input  type="text" class="form-control" name="started_date" id="started_date"><span id="started_date_msg"></span>
   </td>
   <td title="${n.i18n.crud_valid_length_prefix} 0 ${n.i18n.crud_valid_length_postfix}" id="end_date_label">${n.i18n.promo_info_end_date}</td>
   <td>
      <input  type="text" class="form-control" name="end_date" id="end_date"><span id="end_date_msg"></span>
   </td>
</tr>
<tr hidden>
   <td title="${n.i18n.crud_valid_length_prefix} 0 ${n.i18n.crud_valid_length_postfix}" id="phi_dichvu_label">${n.i18n.promo_info_phi_dichvu}</td>
   <td>
      <input  type="text" class="form-control" name="phi_dichvu" id="phi_dichvu"><span id="phi_dichvu_msg"></span>
   </td>
   <td title="${n.i18n.crud_valid_length_prefix} 0 ${n.i18n.crud_valid_length_postfix}" id="noimang_label">${n.i18n.promo_info_noimang}</td>
   <td>
      <input  type="text" class="form-control" name="noimang" id="noimang"><span id="noimang_msg"></span>
   </td>
</tr>
<tr hidden>
   <td title="${n.i18n.crud_valid_length_prefix} 20 ${n.i18n.crud_valid_length_postfix}" id="loai_tb_label">${n.i18n.promo_info_loaiht_id}</td>
   <td>
      <input  type="text" class="form-control" name="loaiht_id" id="loaiht_id"><span id="loaiht_id_msg"></span>
   </td>
   <td title="${n.i18n.crud_valid_length_prefix} 20 ${n.i18n.crud_valid_length_postfix}" id="promo_discount_label">${n.i18n.promo_info_promo_discount}</td>
   <td>
      <input  type="text" class="form-control" name="promo_discount" id="promo_discount"><span id="promo_discount_msg"></span>
   </td>
</tr>

<tr id='control'>
   <td colspan='4' align='center'><font id="result"></font>
      <button name="doSearch" id="doSearch" class="btn btn-primary"><i class="fa fa-search"></i> ${n.i18n.crud_search_button_message}</button>&nbsp;			
      <button class="btn btn-primary" name="goNew" id="goNew"><i class="fa fa-plus-square"></i> ${n.i18n.crud_new_button_message} &gt;</button>&nbsp;
      <button class="btn btn-primary" name="goDelete" id="goDelete"><i class="fa fa-trash"></i> ${n.i18n.crud_delete_button_message} &gt;</button>&nbsp;
      <button class="btn btn-primary" name="goEdit" id="goEdit"><i class="fa fa-edit"></i> ${n.i18n.crud_edit_button_message} &gt;</button>&nbsp;
   </td>
</tr>
</table>
<section class="content">
   <div class="box box-primary">
      <div class="box-body no-padding" id='data-list' style="overflow:auto;margin:auto"></div>
      <div id="div_page_section2" class=""></div>
   </div>
</section>
<script type="text/javascript">
  var record_per_page=20, page=1, nor=0;
  var objPage=new pageTemplates('','div_page_section2','pClick','onGetData');
  objPage.setRecPerPage(record_per_page);
  objPage.setTypeTemplate('BOOTSTRAP'); 
  
  $(function(){
     //getPeriodOfYear(new Date());
     $('#doSearch').click(function(){
       $('#result').html('${n.i18n.crud_process_message}');
       $.ajax({
		/*
   			url: 'crud_exec.jsp?crud_type=promo_info/ajax_index.html&record_per_page=500&page_index=1'+'&kmht_id='+$('#kmht_id').val()+
   			'&promo_id='+$('#promo_id').val()+'&ten_htkm='+$('#ten_htkm').val()+'&kmcv_id='+$('#kmcv_id').val()+'&loaiht_id='+
   			$('#loaiht_id').val()+'&camket_sdlt='+$('#camket_sdlt').val()+'&tinhtao_ds='+$('#tinhtao_ds').val()+'&ghichu='+
   			$('#ghichu').val()+'&nguoi_tao='+$('#nguoi_tao').val()+'&ngay_tao='+$('#ngay_tao').val()+'&nguoi_cn='+
   			$('#nguoi_cn').val()+'&ngay_cn='+$('#ngay_cn').val()+'&may_tao='+$('#may_tao').val()+'&km_pttb_id='+$('#km_pttb_id').val()+
   			'&so_cv='+$('#so_cv').val()+'&phi_dichvu='+$('#phi_dichvu').val()+'&chk_hm='+$('#chk_hm').val()+'&hanmuc='+$('#hanmuc').val()+
   			'&is_upload='+$('#is_upload').val()+'&started_date='+$('#started_date').val()+'&end_date='+$('#end_date').val()+'&noimang='+
   			$('#noimang').val()+'&time_promo='+$('#time_promo').val()+'&time_promo_period='+$('#time_promo_period').val()+'&enable='+
   			$('#enable').val()+'&loai_tb='+$('#loai_tb').val()+'&sms_promo='+$('#sms_promo').val()+'&data_promo='+$('#data_promo').val()+
   			'&id_company='+$('#id_company').val(),
            */
            url: 'crud_exec.jsp?crud_type=promo_info/ajax_get_nop_nor.html'+getParams(page,record_per_page),
            success: function(data){ 
              eval('data='+data);
              nor = data.NOR*1;
              $('#data-list').html(data);
              $('#result').html('');
              onStartSearch(data.NOR);
           }
        });
    });
     $('#doSearch').click();
     $('#goNew').click(function(){
       window.location.href='crud.jsp?crud_type=promo_info/new.html';
    });
     $('#goEdit').click(function(){
       if ($(':radio:checked').parent().parent().children("[name='promo_id']").length>=1){
         window.location.href='crud.jsp?crud_type=promo_info/edit.html&promo_id='+$(':radio:checked').parent().parent().children("[name='promo_id']").text();
      }else{
         alert('${n.i18n.crud_alert_select_one}');
      }
   });
     $('#goDelete').click(function(){
       if ($(':radio:checked').parent().parent().children("[name='promo_id']").length>=1){
         window.location.href='crud.jsp?crud_type=promo_info/delete.html&promo_id='+$(':radio:checked').parent().parent().children("[name='promo_id']").text();
      }else{
         alert('${n.i18n.crud_alert_select_one}');
      }
   });
     $('#promo_id').blur(function(){
       if ($('#promo_id').val()*1==$('#promo_id').val()){
         $('#promo_id_msg').html('');
         $('#promo_id_msg').attr('style','display:none');
      }else{
         $('#promo_id_msg').html('${n.i18n.promo_info_promo_id} ${n.i18n.crud_is_number_message}');
         $('#promo_id_msg').attr('style','display:block');
         return false;
      }
   });
     $('#loaiht_id').blur(function(){
       if ($('#loaiht_id').val()*1==$('#loaiht_id').val()){
         $('#loaiht_id_msg').html('');
         $('#loaiht_id_msg').attr('style','display:none');
      }else{
         $('#loaiht_id_msg').html('${n.i18n.promo_info_loaiht_id} ${n.i18n.crud_is_number_message}');
         $('#loaiht_id_msg').attr('style','display:block');
         return false;
      }
   });

     $('#phi_dichvu').blur(function(){
       if ($('#phi_dichvu').val()*1==$('#phi_dichvu').val()){
         $('#phi_dichvu_msg').html('');
         $('#phi_dichvu_msg').attr('style','display:none');
      }else{
         $('#phi_dichvu_msg').html('${n.i18n.promo_info_phi_dichvu} ${n.i18n.crud_is_number_message}');
         $('#phi_dichvu_msg').attr('style','display:block');
         return false;
      }
   });
     
     $('#started_date').blur(function(){
       if ($('#started_date').val()=='' || patternValidate($('#started_date'),'dd/mm/yyyy')){
         $('#started_date_msg').html('');
         $('#started_date_msg').attr('style','display:none');
      }else{
         $('#started_date_msg').html('${n.i18n.promo_info_started_date} dạng dd/mm/yyyy');
         $('#started_date_msg').attr('style','display:block');
         return false;
      }
   });
     $('#end_date').blur(function(){
       if ($('#end_date').val()=='' || patternValidate($('#end_date'),'dd/mm/yyyy')){
         $('#end_date_msg').html('');
         $('#end_date_msg').attr('style','display:none');
      }else{
         $('#end_date_msg').html('${n.i18n.promo_info_end_date} dạng dd/mm/yyyy');
         $('#end_date_msg').attr('style','display:block');
         return false;
      }
   });
     $('#noimang').blur(function(){
       if ($('#noimang').val()*1==$('#noimang').val()){
         $('#noimang_msg').html('');
         $('#noimang_msg').attr('style','display:none');
      }else{
         $('#noimang_msg').html('${n.i18n.promo_info_noimang} ${n.i18n.crud_is_number_message}');
         $('#noimang_msg').attr('style','display:block');
         return false;
      }
   });
     $('#enable').blur(function(){
       if ($('#enable').val()*1==$('#enable').val()){
         $('#enable_msg').html('');
         $('#enable_msg').attr('style','display:none');
      }else{
         $('#enable_msg').html('${n.i18n.promo_info_enable} ${n.i18n.crud_is_number_message}');
         $('#enable_msg').attr('style','display:block');
         return false;
      }
   });
     $('#sms_promo').blur(function(){
       if ($('#sms_promo').val()*1==$('#sms_promo').val()){
         $('#sms_promo_msg').html('');
         $('#sms_promo_msg').attr('style','display:none');
      }else{
         $('#sms_promo_msg').html('${n.i18n.promo_info_sms_promo} ${n.i18n.crud_is_number_message}');
         $('#sms_promo_msg').attr('style','display:block');
         return false;
      }
   });
  });
$(document).ready(function(){
  $('#ngay_tao').datepicker({format:"dd/mm/yyyy"});
  $('#ngay_cn').datepicker({format:"dd/mm/yyyy"});
  $('#started_date').datepicker({format:"dd/mm/yyyy"});
  $('#end_date').datepicker({format:"dd/mm/yyyy"});
});
function pClick(ps_page_id,ps_rec_per_page) {
  objPage.setCurrentPage(ps_page_id);
  objPage.setRecPerPage(ps_rec_per_page);
  objPage.returnDataCount(objPage.getTotalRec());
}
   //Ham nay tu dong duoc goi sau khi click vao cac so...:
   function onGetData(page, size){
   	$.ajax({
   		url: 'crud_exec.jsp?crud_type=promo_info/ajax_index.html'+getParams(page,record_per_page),
   		timeout: 1000,
   		success: function(data){ 
   			if(data!=''){
   				$('#data-list').html(data);
   				$('#result').html('');
   			}
   			if(nor==0 && data!=''){
   				$('#result').html('${n.i18n.no_data}');
   			}
   		}
   	});
   }
   //Ham tra ve chuoi parameters, truyen vao ajax de lay nop, nor va du lieu hien thi
   function getParams(page,record_per_page){
   	var exec='&record_per_page='+record_per_page+'&page_index='+page+'&ten_htkm='+$('#ten_htkm').val()+'&kmht_id='+$('#kmht_id').val()
    +'&started_date='+$('#started_date').val()+'&end_date='+$('#end_date').val()+'&loai_tb='+$('#loai_tb').val()+'&noimang='
    +$('#noimang').val()+'&promo_discount='+$('#promo_discount').val()+'&promo_id='+$('#promo_id').val()+'&period='+$('#period').val();
    return exec;
 }
 function onStartSearch(total){
  objPage.setCurrentPage(1);
  objPage.returnDataCount(total);
}
function getPeriodOfYear(year){
 var months = ["01","02","03","04","05","06","07","08","09","10","11","12"];
 var Year = year.getFullYear();
 var html ="<select class='form-control' name='period' id='period'><option value=''>${n.i18n.crud_khong_chon}";
 for(var i = 0 ;i< months.length;i++)
   html += "<option value='"+months[i]+Year+"'>"+months[i]+Year+"</option>";
html +="</select>";
$("#getoption_period").html(html);
}
</script>