<table id="menu" class='table table-condensed'>
	<tr><th colspan='4'><b>${n.i18n.crud_new_button_message.toUpperCase()}</b></th></tr>	<tr>
	<td title="${n.i18n.crud_valid_length_prefix} 22 ${n.i18n.crud_valid_length_postfix}" id="id_label">${n.i18n.menu_id}<font color="red">*</font></td>
	<td><input  type="number" class="form-control" name="id" id="id"><span id="id_msg"></span></td>
	<td title="${n.i18n.crud_valid_length_prefix} 200 ${n.i18n.crud_valid_length_postfix}" id="name_label">${n.i18n.menu_name}</td>
	<td><input  type="text" class="form-control" name="name" id="name"><span id="name_msg"></span></td>
</tr>
<tr>
	<td title="${n.i18n.crud_valid_length_prefix} 22 ${n.i18n.crud_valid_length_postfix}" id="display_order_label">${n.i18n.menu_display_order}</td>
	<td><input  type="number" class="form-control" name="display_order" id="display_order"><span id="display_order_msg"></span></td>
	<td title="${n.i18n.crud_valid_length_prefix} 200 ${n.i18n.crud_valid_length_postfix}" id="picture_file_label">${n.i18n.menu_picture_file}</td>
	<td><input  type="text" class="form-control" name="picture_file" id="picture_file"><span id="picture_file_msg"></span></td>
</tr>
<tr>
	<td title="${n.i18n.crud_valid_length_prefix} 200 ${n.i18n.crud_valid_length_postfix}" id="detail_file_label">${n.i18n.menu_detail_file}</td>
	<td><input  type="text" class="form-control" name="detail_file" id="detail_file"><span id="detail_file_msg"></span></td>
	<td title="${n.i18n.crud_valid_length_prefix} 22 ${n.i18n.crud_valid_length_postfix}" id="menu_level_label">${n.i18n.menu_menu_level}</td>
	<td><input  type="number" class="form-control" name="menu_level" id="menu_level"><span id="menu_level_msg"></span></td>
</tr>
<tr>
	<td title="${n.i18n.crud_valid_length_prefix} 22 ${n.i18n.crud_valid_length_postfix}" id="parent_id_label">${n.i18n.menu_parent_id}</td>
	<td><input  type="number" class="form-control" name="parent_id" id="parent_id"><span id="parent_id_msg"></span></td>
	<td title="${n.i18n.crud_valid_length_prefix} 22 ${n.i18n.crud_valid_length_postfix}" id="publish_label">${n.i18n.menu_publish}</td>
	<td><select name="publish" id="publish" class="form-control">
		<option value="1">Hiển thị</option>
		<option value="0">Ẩn</option>
	</select><span id="publish_msg"></span></td>
</tr>
<tr id='control'><td colspan='4' align='center'><font id="result"></font>
	<button class="btn btn-primary" name="doNew" id="doNew"><i class="fa fa-plus-square"></i> ${n.i18n.crud_new_button_message}</button>&nbsp;
	<button class="btn btn-primary" name="doClear" id="doClear"><i class="fa fa-eraser"></i> ${n.i18n.crud_clear_form_button_message}</button>&nbsp;
	<button class="btn btn-primary" name="goSearch" id="goSearch"><i class="fa fa-search"></i> ${n.i18n.crud_search_button_message} &gt;</button>&nbsp;
</td>
</tr></table>
<script type="text/javascript">
	$(function(){
		$('#doNew').click(function(){
			if( !confirm('${n.i18n.crud_confirm_message}') ){return;}
			var exec='&id='+$('#id').val()+'&name='+$('#name').val()+'&display_order='+$('#display_order').val()+'&picture_file='+$('#picture_file').val()+'&detail_file='+$('#detail_file').val()+'&menu_level='+$('#menu_level').val()+'&parent_id='+$('#parent_id').val()+'&publish='+$('#publish').val()+'&userid=$!{request.UserPrincipal.name}&userip=$!{request.RemoteAddr}';
			$('#result').html('${n.i18n.crud_process_message}');
			$.ajax({
				url: 'crud_exec.jsp?crud_type=menu/new_exec.html'+exec,
				success: function(data){ 
					if (data=="1.0"){
						$('#result').html("${n.i18n.crud_new_message}"); 
					}else{
						$('#result').html(data);
					}
				}
			});
		});
		$('#doClear').click(function(){
			$("input:text").each(function(){$(this).val('')});
			$("textarea").each(function(){$(this).val('')});
			$("select").each(function(){$(this).attr('selectedIndex', 0);});
			$("table#menu").find("span").html('');
		});
		$('#goSearch').click(function(){
			window.location.href='crud.jsp?crud_type=menu/index.html';
		});
		$('#id').blur(function(){
			if ($('#id').val()!=''){
				$('#id_msg').html('');
				$('#id_msg').attr('style','display:none');
			}else{
				$('#id_msg').html('<font color="red">${n.i18n.crud_required_message} ${n.i18n.menu_id}</font>');
				$('#id_msg').attr('style','display:block');
				return false;
			}
			if ($('#id').val()*1==$('#id').val()){
				$('#id_msg').html('');
				$('#id_msg').attr('style','display:none');
			}else{
				$('#id_msg').html('<font color="red">${n.i18n.menu_id} ${n.i18n.crud_is_number_message}</font>');
				$('#id_msg').attr('style','display:block');
				return false;
			}
		});
		$('#display_order').blur(function(){
			if ($('#display_order').val()*1==$('#display_order').val()){
				$('#display_order_msg').html('');
				$('#display_order_msg').attr('style','display:none');
			}else{
				$('#display_order_msg').html('<font color="red">${n.i18n.menu_display_order} ${n.i18n.crud_is_number_message}</font>');
				$('#display_order_msg').attr('style','display:block');
				return false;
			}
		});
		$('#menu_level').blur(function(){
			if ($('#menu_level').val()*1==$('#menu_level').val()){
				$('#menu_level_msg').html('');
				$('#menu_level_msg').attr('style','display:none');
			}else{
				$('#menu_level_msg').html('<font color="red">${n.i18n.menu_menu_level} ${n.i18n.crud_is_number_message}</font>');
				$('#menu_level_msg').attr('style','display:block');
				return false;
			}
		});
		$('#parent_id').blur(function(){
			if ($('#parent_id').val()*1==$('#parent_id').val()){
				$('#parent_id_msg').html('');
				$('#parent_id_msg').attr('style','display:none');
			}else{
				$('#parent_id_msg').html('<font color="red">${n.i18n.menu_parent_id} ${n.i18n.crud_is_number_message}</font>');
				$('#parent_id_msg').attr('style','display:block');
				return false;
			}
		});
		$('#publish').blur(function(){
			if ($('#publish').val()*1==$('#publish').val()){
				$('#publish_msg').html('');
				$('#publish_msg').attr('style','display:none');
			}else{
				$('#publish_msg').html('<font color="red">${n.i18n.menu_publish} ${n.i18n.crud_is_number_message}</font>');
				$('#publish_msg').attr('style','display:block');
				return false;
			}
		});
	});
	$(document).ready(function(){
	});
</script>