<table id="company_information" class='table table-condensed'>
   <tr>
      <th colspan='4'><b>${n.i18n.crud_new_button_message.toUpperCase()}</b></th>
   </tr>
   <tr>
      <td title="${n.i18n.crud_valid_length_prefix} 0 ${n.i18n.crud_valid_length_postfix}" id="company_id_label">${n.i18n.company_information_company_id}</td>
      <td>			<input  type="text" class="form-control" name="company_id" id="company_id"><span id="company_id_msg"></span></td>
      <td title="" id="company_name_label">${n.i18n.company_information_company_name}</td>
      <td>			<input  type="text" class="form-control" name="company_name" id="company_name"><span id="company_name_msg"></span></td>
   </tr>
   <tr>
      <td title="${n.i18n.crud_valid_length_prefix} 0 ${n.i18n.crud_valid_length_postfix}" id="mvpn_users_label">${n.i18n.company_information_mvpn_users}</td>
      <td>			<input  type="text" class="form-control" name="mvpn_users" id="mvpn_users"><span id="mvpn_users_msg"></span></td>
      <td title="${n.i18n.crud_valid_length_prefix} 0 ${n.i18n.crud_valid_length_postfix}" id="mpbx_users_label">${n.i18n.company_information_mpbx_users}</td>
      <td>			<input  type="text" class="form-control" name="mpbx_users" id="mpbx_users"><span id="mpbx_users_msg"></span></td>
   </tr>
   <tr>
      <td title="${n.i18n.crud_valid_length_prefix} 0 ${n.i18n.crud_valid_length_postfix}" id="conference_users_label">${n.i18n.company_information_conference_users}</td>
      <td>			<input  type="text" class="form-control" name="conference_users" id="conference_users"><span id="conference_users_msg"></span></td>
      <td title="${n.i18n.crud_valid_length_prefix} 0 ${n.i18n.crud_valid_length_postfix}" id="mpbx_main_numbers_label">${n.i18n.company_information_mpbx_main_numbers}</td>
      <td>			<input  type="text" class="form-control" name="mpbx_main_numbers" id="mpbx_main_numbers"><span id="mpbx_main_numbers_msg"></span></td>
   </tr>
   <tr>
      <td title="${n.i18n.crud_valid_length_prefix} 0 ${n.i18n.crud_valid_length_postfix}" id="billing_cycle_day_label">${n.i18n.company_information_billing_cycle_day}</td>
      <td>			<input  type="text" class="form-control" name="billing_cycle_day" id="billing_cycle_day"><span id="billing_cycle_day_msg"></span></td>
      <td title="" id="created_label">${n.i18n.company_information_created}</td>
      <td>			<input  type="text" class="form-control" name="created" id="created"><span id="created_msg"></span></td>
   </tr>
   <tr id='control'>
      <td colspan='4' align='center'><font id="result"></font>
         <button class="btn btn-primary" name="doNew" id="doNew"><i class="fa fa-plus-square"></i> ${n.i18n.crud_new_button_message}</button>&nbsp;
         <button class="btn btn-primary" name="doClear" id="doClear"><i class="fa fa-eraser"></i> ${n.i18n.crud_clear_form_button_message}</button>&nbsp;
         <button class="btn btn-primary" name="goSearch" id="goSearch"><i class="fa fa-search"></i> ${n.i18n.crud_search_button_message} &gt;</button>&nbsp;
      </td>
   </tr>
</table>
<script type="text/javascript">
   $(function(){
   	$('#doNew').click(function(){
   		if( !confirm('${n.i18n.crud_confirm_message}') ){return;}
   		var exec='&company_id='+$('#company_id').val()+'&company_name='+$('#company_name').val()+'&mvpn_users='+$('#mvpn_users').val()+'&mpbx_users='+$('#mpbx_users').val()+'&conference_users='+$('#conference_users').val()+'&mpbx_main_numbers='+$('#mpbx_main_numbers').val()+'&billing_cycle_day='+$('#billing_cycle_day').val()+'&created='+$('#created').val()+'&userid=$!{request.UserPrincipal.name}&userip=$!{request.RemoteAddr}';
   		$('#result').html('${n.i18n.crud_process_message}');
   		$.ajax({
   			url: 'crud_exec.jsp?crud_type=com_info/new_exec.html'+exec,
   			success: function(data){ 
   				if (data=="1.0"){
   					$('#result').html("${n.i18n.crud_new_message}"); 
   				}else{
   					$('#result').html(data);
   				}
   			}
   		});
   	});
   	$('#doClear').click(function(){
   		$("input:text").each(function(){$(this).val('')});
   		$("textarea").each(function(){$(this).val('')});
   		$("select").each(function(){$(this).attr('selectedIndex', 0);});
   	});
   	$('#goSearch').click(function(){
   		window.location.href='crud.jsp?crud_type=com_info/index.html';
   	});
   });
   $(document).ready(function(){
   });
</script>