<table width="100%" class='table table-condensed table-striped table-bordered'>
	<tr>
		<th>&nbsp;</th>
		<th align=center>${n.i18n.cost_voice_mbf_id}</th>
		<th align=center>${n.i18n.cost_voice_mbf_name}</th>
		<th align=center>${n.i18n.cost_voice_mbf_from_minute}</th>
		<th align=center>${n.i18n.cost_voice_mbf_to_minute}</th>
		<th align=center>${n.i18n.cost_voice_mbf_price}</th>
		<th align=center>${n.i18n.cost_voice_mbf_note}</th>
		<th align=center>${n.i18n.cost_voice_mbf_from_date}</th>
		<th align=center>${n.i18n.cost_voice_mbf_to_date}</th>
	</tr>
	#set ($list = $u.ref("crud_search_cost_voice_mbf_service","default",["$!{id}","$!{name}","$!{from_minute}",
	"$!{to_minute}","$!{price}","$!{group_id}","$!{free}","$!{company_id}","$!{from_date}","$!{to_date}"
	,"$!{record_per_page}","$!{page_index}","$!{request.UserPrincipal.name}","$!{request.RemoteAddr}"],14) )
	#foreach ($i in $list)
	<tr>
		<td width='22px' align=center><input type="radio" id="rad$i['ID']" name="cost_voice_mbf_rad"></td>
		<td align=center name='id'>$!i["ID"]</td>
		<td align=left name='name'>$!i["NAME"]</td>
		<td align=center name='from_minute'>$!i["FROM_MINUTE"]</td>
		<td align=center name='to_minute'>$!i["TO_MINUTE"]</td>
		<td align=center name='price'>$!i["PRICE"]</td>
		<td align=left name='note'>$!i["NOTE"]</td>
		<td align=center name='from_date'>$!i["FROM_DATE"]</td>
		<td align=center name='to_date'>$!i["TO_DATE"]</td>
	</tr>
	#end
</table>
<script>
	$('#ajax_cost_voice_mbf :radio').change(function(){	
		$('#ajax_cost_voice_mbf :radio').each(function(){$(this).parent().css("background","#fff");});$(this).parent().css('background-color','#dfdfdf');
	});
</script>
