#set ($v = $u.ref("crud_search_cost_data_service","default",["$!{id}","$!{name}","$!{data}","$!{price}","$!{note}","$!{from_date}","$!{to_date}","1","1","$!{request.UserPrincipal.name}","$!{request.RemoteAddr}"],11)[0] )
<table id="cost_data" class='table table-condensed'>
   <tr>
      <th colspan='4'><b>${n.i18n.crud_search_button_message.toUpperCase()}</b></th>
   </tr>
   <tr>
      <td title="" id="id_label">${n.i18n.cost_data_id}</td>
      <td>
         <input readonly type="number" min="0" class="form-control" name="id" id="id" value='$!v["ID"]' ><span id="id_msg"></span>
      </td>
      <td title="" id="name_label">${n.i18n.cost_data_name}</td>
      <td>
         <input  type="text" class="form-control" name="name" id="name" value='$!v["RAT_ID"]' ><span id="name_msg"></span>
      </td>
   </tr>
   <tr>
      <td title="" id="data_label">${n.i18n.cost_data_data}</td>
      <td>
         <input type="number" min="0" class="form-control" name="data" id="data" value='$!v["DATA"]' ><span id="data_msg"></span>
      </td>
      <td title="" id="price_label">${n.i18n.cost_data_price}</td>
      <td>
         <input  type="number" min="0" class="form-control" name="price" id="price" value='$!v["PRICE"]' ><span id="price_msg"></span>
      </td>
   </tr>
   <tr>
      <td title="" id="note_label">${n.i18n.cost_data_note}</td>
      <td>
         <input  type="text" class="form-control" name="note" id="note" value='$!v["NOTE"]' ><span id="note_msg"></span>
      </td>
      <td title="" id="from_date_label">${n.i18n.cost_data_from_date}</td>
      <td>
         <input  type="text" class="form-control" name="from_date" id="from_date" value='$!v["FROM_DATE"]' ><span id="from_date_msg"></span>
      </td>
   </tr>
   <tr>
      <td title="" id="to_date_label">${n.i18n.cost_data_to_date}</td>
      <td>
         <input  type="text" class="form-control" name="to_date" id="to_date" value='$!v["TO_DATE"]' ><span id="to_date_msg"></span>
      </td>
   </tr>
   <tr id='control'><td colspan='4' align='center'><font id="result"></font>
      <button class="btn btn-primary" name="doEdit" id="doEdit"><i class="fa fa-edit"></i> ${n.i18n.crud_edit_button_message}</button>&nbsp;
      <button class="btn btn-primary" name="doReset" id="doReset"><i class="fa fa-reply"></i> ${n.i18n.crud_reset_button_message}</button>&nbsp;
      <button class="btn btn-primary" name="goSearch" id="goSearch"><i class="fa fa-search"></i> ${n.i18n.crud_search_button_message} &gt;</button>&nbsp;
   </td></tr>
</table>
<script type="text/javascript">
	$(function(){
		var orginData={id:'$!v["ID"]',name:'$!v["NAME"]',data:'$!v["DATA"]',price:'$!v["PRICE"]',note:'$!v["NOTE"]',from_date:'$!v["FROM_DATE"]',to_date:'$!v["TO_DATE"]'};
		$('#doEdit').click(function(){
			if( !confirm('${n.i18n.crud_confirm_message}') ){return;}
			var exec='&id='+$('#id').val()+'&name='+$('#name').val()+'&data='+$('#data').val()+'&price='+$('#price').val()+'&note='+$('#note').val()+'&from_date='+$('#from_date').val()+'&to_date='+$('#to_date').val()+'&userid=$!{request.UserPrincipal.name}&userip=$!{request.RemoteAddr}';
			$('#result').html('${n.i18n.crud_process_message}');
			$.ajax({
				url: 'crud_exec.jsp?crud_type=cost_data/edit_exec.html'+exec,
				success: function(data){ 
					if (data=="1.0"){
						$('#result').html("${n.i18n.crud_edit_message}"); 
					}else{
						$('#result').html(data);
					}
				}
			});
		});
		$('#doReset').click(function(){
			$("input:text").each(function(){$(this).val( orginData[$(this).attr('id')] )});
			$("textarea").each(function(){$(this).val( orginData[$(this).attr('id')] )});
			$("select").each(function(){$(this).attr('selectedIndex',orginData[$(this).attr('id')]);});
		});
		$('#goSearch').click(function(){
			window.location.href='crud.jsp?crud_type=cost_data/index.html';
		});
	});
	$(document).ready(function(){
		$('#from_date').datepicker({format:"yyyy-mm-dd"});
     $('#to_date').datepicker({format:"yyyy-mm-dd"});
  });
</script>